DB_NAME=YourDatabaseName
DB_USER=postgres
DB_PASSWORD=your-database-password
DB_HOST=localhost
DB_PORT=your-database-port
SESSION_SECRET=any random-string
SESSION_MAX_AGE=3600000
FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
PORT=3000
